body{
  width: 1440px;
  background-color: black;
}
header{
  width:960px;
  position: absolute;
  left: 330px;
  top: 12px;
  color: white;
}
header a {
  text-decoration: none;
  color: white;
}
.header_logo{
  font-size: 12px;
  line-height: 68px;
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  
}
.logo{
  width: 123px;
  height: 68px;
  margin-left: 130px;
  margin-right: 85px;
}
nav{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  padding: 22px 0;
  margin-top: 12px;
  font-family: 'ChocolateBoxDecorative';
}
nav a:hover{
  color:#E2B024;
  text-decoration: line-through;
  ;
}
.header_content{
  margin: 150px 120px;
  text-align: center;
  line-height: 24px;
  font-family: 'Poppins';
  font-size: 16px;
}
.header_content h1 {
  font-size: 80px;
  font-family: 'ChocolateBoxDecorative';
}
.header_content h2 {
  font-size: 24px;
  font-family: 'ChocolateBoxDecorative';
}
.header_content h1 span {
  color: #E2B024;
}
.header_content a {
  font-family: 'ChocolateBoxDecorative';
  color: #E2B024;
}
@font-face {
  font-family: 'fontb2822251d3391bfbb65d6f20c0e94576';    
  src: url('https://nomail.com.ua/files/eot/b2822251d3391bfbb65d6f20c0e94576.eot?#iefix') format('embedded-opentype'),
        url('https://nomail.com.ua/files/woff/b2822251d3391bfbb65d6f20c0e94576.woff') format('woff'),
        url('https://nomail.com.ua/files/woff2/b2822251d3391bfbb65d6f20c0e94576.woff2') format('woff2');
  }
  
  @font-face { font-family: 'ChocolateBoxDecorative';  src: local('ChocolateBoxDecorative'), url('https://nomail.com.ua/files/woff/b2822251d3391bfbb65d6f20c0e94576.woff') format('woff'); }